#loading-mask{
        background-color:white;
        height:100%;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        z-index:20000;
 }
 #loading{
         height:auto;
         position:absolute;
         left:45%;
         top:40%;
         padding:2px;
         z-index:20001;
 }
 .banner{
    font-size: 16px;
    color: red;
 }