<nirvana_cloud id="3">
<!-- 
   Copyright 2012,2014 Jun Tsai. All rights reserved.
   site: http://www.ganshane.com
-->

    <log_file>${server.home}/log/nirvana.cloud.log</log_file>
    <cloud_id>3</cloud_id>
    <data_dir>${server.home}/data/cloud</data_dir>
    <port>3333</port>
    <init_limit>5</init_limit>
    <sync_limit>2</sync_limit>
    <!--
    <servers>
        <server id="1">10.1.7.74:1888:1999</server>
        <server id="2">10.1.7.79:2888:2999</server>
        <server id="3">10.1.7.112:3888:3999</server>
    </servers>
    -->
</nirvana_cloud>
